--prefer-binary


fastapi==0.103.0
uvicorn[standard]==0.22.0
requests==2.32.3
httpx==0.27.0
beautifulsoup4==4.12.3
soupsieve==2.4.1
#pydantic==2.5.3
# pydantic-core==2.16.2  # downgraded to prebuilt wheel

